<form action="<%- _helpers.url.baseUrl() %>examples/upload/do-upload" method="post" enctype="multipart/form-data"> 
file: <input type="file" name="my_file" />
<input type="submit" value="upload" />
</form>