<% _helpers.layout.addScript('/javascript/jquery.js') %>
<% _helpers.layout.addScript('/socket.io/socket.io.js') %>
<% _helpers.layout.addScript('/javascript/module.rpc.js') %>

<h1>RPC</h1>



<script type="text/javascript">

$(document).ready(function() {
	
});

var rpc = RemoteProcedureCallCreator('http://localhost:8123');


</script>