<% _helpers.layout.addScript('/javascript/jquery.js') %>
<% _helpers.layout.addScript('/socket.io/socket.io.js') %>
<% _helpers.layout.addScript('/javascript/module.emitter.js') %>
<% _helpers.layout.addScript('/javascript/module.rpc.js') %>

<h1>RPC</h1>

<p>Simply lists the exposed services and their methods.</p>
<pre>
// example of using the RPC.
rpc.twitter.findLatest(function(data) {
	console.log(data);
});	
</pre>

<select id="services" size="10" style="width: 200px;"></select>
<select id="methods" size="10" style="width: 200px;"></select>

<script type="text/javascript">

$(document).ready(function() {
	var servicesNode = $('#services');
		servicesNode.change(function() {
			methodsNode.children().remove();
			
			var name = $(this).val();
			
			for (var member in metaDescriptions[name]) {
				var memberNode = $('<option>' + member + '</option>');
				methodsNode.append(memberNode);
			}
			
		});
		
	var methodsNode = $('#methods');
	
	var metaDescriptions;
	
	var rpc = RemoteProcedureCallCreator('http://localhost:8123');
		rpc.on('received:meta_descriptions', function(descriptions) {
			
			servicesNode.children().remove();
			methodsNode.children().remove();
			
			for (var name in descriptions) {
				var serviceNode = $('<option>' + name + '</option>');
				servicesNode.append(serviceNode);
			}
			
			metaDescriptions = descriptions;
			
			rpc.twitter.findLatest(function(data) {
				alert(data);
			});
		});
});




</script>